<%= form_for(@task) do |f| %>


  <div class="field">
    <%= f.label :detail %><br />
    <%= f.text_field :detail %>
  </div>
  <div class="field">
    <%= f.label :completion %><br />
    <%= f.date_select :completion, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
   Add users<br />
   

<%= f.collection_select :user_ids, User.find(:all), :id, :email,{}, { :multiple => true, :size=>6 } %><br />

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
